/* Home.css */
.home-section {
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.text-container, .fill-text::before, .hi-text, .name-text, .name, .dis {
    animation: fadeInSlide 1s ease-in-out;
}

@keyframes fadeInSlide {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



.text-container {
    padding-left: 5%;
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.image-container{
    animation: slideIn4 1s ease-in-out;
}

@keyframes slideIn4 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.fill-text {
    font-size: 3.6vw;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    color: var(--text-color);
}

.fill-text::before {
    content: "Developer";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    font-size: 15vw;
    color: var(--button-bg);
    z-index: -1;
    max-width: 20px;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    content: "Develo" "\A Per";
    animation: none;
}

.hi-text, .name-text, .name, .dis {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: block;
}

.hi-text {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: -30px;
    font-family: 'Text', sans-serif;
    font-weight: 200;
}

.name-text {
    font-size: 68px;
    color: #ffffff;
    margin-bottom: -35px;
    font-weight: 50;
}

.name {
    font-size: 68px;
    color: var(--button-bg);
    margin-bottom: -25px;
    font-weight: 800;
    font-family: 'Header', sans-serif;
}

.dis {
    font-size: 48px;
    color: #ffffff;
    font-weight: 1;
    animation: fadeInSlideDown 1s ease-in-out;
}

@keyframes fadeInSlideDown {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Add responsive styles */
@media screen and (max-width: 768px) {

    .fill-text::before {
        font-size: 15vh;
    }
    .fill-text {
        font-size: 5vw;
    }

    .dis {
        font-size: 2vw;
        animation: none;
    }

    .image-container {
        display: none;
    }
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 10%;
}

.velocity-image {
    max-width: 400px;
    height: auto;
    border-radius: 40px;
    margin-top: 5vh;
    z-index: 500;
    animation: slideIn1 1s ease-in-out;
}

@media screen and (max-width: 768px) {


    .fill-text {
        font-size: 5vw;
    }

    .dis {
        font-size: 3.5vw;
    }

    .image-container {
        margin-right: 5%;
        display: none;
    }

    .velocity-image {
        max-width: 250px;
        margin-top: 2vh;
    }
}
